#qrcode_container {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border: 2px solid black;
border-radius: 25px;
height: 600px;
width: 600px;
text-align: center;
margin: 0 auto;
}

#qrcode_url {
    font-size: 20px;
}

#rcode_button {
    font-size: 20px;
    
}