#qrcode_container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 18px;
    background: white;
    padding: 40px;
    width: 450px;
    text-align: center;
    margin: 80px auto;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: #1b1b1b;
}

#qrcode_url {
    font-size: 18px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ced4da;
}

#qrcode_button {
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;

}

.qr_image {
    width: 230px;
    height: 230px;
    border: 2px solid #e3e3e3;
    border-radius: 10px;
    padding: 10px;
    background: #fafafa;
}

/* =================For marquee==================== */
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 5px 0;
    margin-bottom: 10px;
    background: #e9ecef;
    border-radius: 8px;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    animation: marqueeMove 10s linear infinite;
}

@keyframes marqueeMove {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ==========================For marquee animation============================ */
.marquee p {
    display: inline-block;
    padding-left: 100%;
    font-size: 16px;
    font-weight: 600;
    animation: marqueeMove 10s linear infinite, rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {
        color: red;
    }

    20% {
        color: orange;
    }

    40% {
        color: yellow;
    }

    60% {
        color: green;
    }

    80% {
        color: blue;
    }

    100% {
        color: purple;
    }
}